.app {
  flex: 1;
  padding: 10px;
  background-color: rgb(100, 134, 173);
}
.app h1 {
  text-align: center;
}
form {
  width: 50%;
}

.form-input {
  margin: 10px 0px;
}
.form-input input,
.form-input ::placeholder {
  color: rgb(100, 100, 104);
  text-decoration: none;
}

.form-input input,
.form-input textarea {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border: 1px solid #474474;
  padding: 0.375rem 0.75rem;
  outline: none;
}

button {
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.8rem;
  cursor: pointer;
  outline: none;
}
